#home{
	position:absolute;
	left:50%;
	top:50%;
	width:3em;
	height:3.75em;
	background-color:black;
	color:white;
	transform:translate(-50%,-50%);
	z-index:150;
}

#player{
	position:absolute;
	width:1.3em;
	height:2em;
	background-color:red;
	transform:translate(-50%,-50%);
}

#hotkey{
	position:absolute;
	left:50%;
	top:100%;
	transform:translate(-50%,-100%);
	z-index:100;
}
#hotkey TR TD{
	border-radius:50%;
	background-color:white;
	border:solid black 1px;
	width:3em;
	height:3em;
}