#home{
	position:absolute;
	left:50%;
	top:20%;
	width:3em;
	height:3.75em;
	background-color:black;
	color:white;
	transform:translate(-50%,0%);
}

#player{
	position:absolute;
	width:1.3em;
	height:2em;
	background-color:red;
	transform:translate(-50%,-50%);
}